---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/295863?apikey=testapikey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '30'
      Akamai-Grn:
      - 0.53ab3717.1703599519.8bd7f1a
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-12-26T18:52:00+05:00","EpochTime":1703598720,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-5.6,"Unit":"C","UnitType":17},"Imperial":{"Value":22.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/yekaterinburg/295863/current-weather/295863?lang=en-us","Link":"http://www.accuweather.com/en/ru/yekaterinburg/295863/current-weather/295863?lang=en-us"}]'
  recorded_at: Tue, 26 Dec 2023 14:05:19 GMT
recorded_with: VCR 6.2.0
