---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/295863/historical/24?apikey=testapikey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '29'
      Akamai-Grn:
      - 0.46ab3717.1703599952.3dafa0c1
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-12-26T19:03:00+05:00","EpochTime":1703599380,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-5.4,"Unit":"C","UnitType":17},"Imperial":{"Value":22.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/yekaterinburg/295863/current-weather/295863?lang=en-us","Link":"http://www.accuweather.com/en/ru/yekaterinburg/295863/current-weather/295863?lang=en-us"},{"LocalObservationDateTime":"2023-12-26T17:58:00+05:00","EpochTime":1703595480,"WeatherText":"Heavy
        snow","WeatherIcon":22,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":false,"Temperature":{"Metric":{"Value":-4.7,"Unit":"C","UnitType":17},"Imperial":{"Value":24.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/yekaterinburg/295863/current-weather/295863?la[...]
